# Квартиры в Москве в 1997 году
#### Установить зависимость цены на квартиру от многочисленных параметров.
1 - цена, тыс. долларов;
2 - число комнат;
3 - жилая площадь, кв.м;
4 - площадь подсобных помещений, кв.м;
5 - площадь кухни и туалета, кв.м;
6 - расстояние до центра, км;
7 - время, затрачиваемое на дорогу до ближайшей станции метро, мин.
#### Построить зависимость параметра 1 от параметров 3-7.
Рассматриваем множественную регрессию вида:
$$ Y = a_0 + a_1X_1 + ... + a_nX_n, $$
где Y - столбец цен на квартиру, X1-Xn - столбцы параметров 3-7.
Для решения необходимо найти столбец коэффициентов a1-an.

In [1]:
import pandas as pd
import numpy as np

Для решения задачи и подготовки данных используем numpy и pandas.

In [2]:
data = pd.read_excel('Flats.xls')

In [3]:
data.head()

,LIVSQ,APPEN,KITSQ,DIST,METRDIST,WALK,BRICK,TEL,BAL,FLOOR,ROOM,PRICE
0,20.0,6.0,10.0,0.85,5.0,1,0,1,0,1,1,65.0
1,19.8,11.2,9.0,3.93,2.0,1,0,1,1,1,1,43.0
2,19.0,5.9,9.6,3.93,5.0,1,0,1,1,0,1,34.0
3,17.6,17.3,7.9,4.47,5.0,1,1,1,1,1,1,75.0
4,19.0,7.6,6.0,4.47,10.0,1,1,1,0,1,1,35.0

In [4]:
df = data[['ROOM','LIVSQ','APPEN','KITSQ','DIST','METRDIST']].loc[data.ROOM == 3]

In [5]:
df.head()

     ROOM  LIVSQ  APPEN  KITSQ    DIST  METRDIST
288     3   54.0   16.5    9.5   7.895       7.0
289     3   52.0   22.6    8.4   6.600       4.0
290     3   39.5   13.3    8.0  16.500      10.0
291     3   53.0   10.7    8.3   1.840      10.0
292     3   63.0   18.0    7.0   1.650      10.0

В df записываем столбцы таблицы по которым строим зависимость цена на квартиру. Используем 4-ёх комнатные квартиры.

In [6]:
y = data['PRICE'].loc[data.ROOM == 3]
y = y.to_numpy()
y

array([ 75. , 110. ,  63. , 101. , 142. , 100. , 103. ,  40.5,  47. ,
        40.5,  65. ,  76. ,  93. ,  47. ,  53. ,  86. , 115. ,  82. ,
        53. ,  40. ,  57. ,  58. ,  48. ,  71. ,  55. ,  56.5, 133. ,
       185. ,  94. ,  61.5,  56. , 112. , 255. ,  88. ,  75. ,  41. ,
        51. ,  60. ,  74.5,  49. ,  58. ,  67. ,  62. ,  67. ,  53. ,
        53.8,  52. ,  69. , 112.5,  81. ,  53. ,  95. ,  86. ,  80. ,
        58. ,  65. ,  49.5,  66. ,  52. ,  95. ,  85. ,  89. ,  59.5,
        95.5,  80. ,  80. , 145. ,  74. ,  83. , 120. ,  89. , 135. ,
       125. ,  48. ,  69. ,  69. ,  90. , 165. , 207. ,  95.5, 111.5,
       122. , 105. ,  87. ,  87. , 240. , 145. ,  38. , 103. ,  58.5,
       106. ,  35. ,  58. ,  58. ,  69. ,  90.5,  68. ,  89. , 117. ,
        76. ,  78. , 112. ,  77. ,  92. ,  89. , 107. ,  75. ,  64. ,
        86. ,  62. , 110. ,  78. ,  67. , 108. ,  95. , 106. ,  62. ,
        64. ,  93. ,  92. ])

In [7]:
df.ROOM.replace(3,1, inplace=True) 
df.head()

     ROOM  LIVSQ  APPEN  KITSQ    DIST  METRDIST
288     1   54.0   16.5    9.5   7.895       7.0
289     1   52.0   22.6    8.4   6.600       4.0
290     1   39.5   13.3    8.0  16.500      10.0
291     1   53.0   10.7    8.3   1.840      10.0
292     1   63.0   18.0    7.0   1.650      10.0

In [8]:
x = df.to_numpy()
x

array([[ 1.    , 54.    , 16.5   ,  9.5   ,  7.895 ,  7.    ],
       [ 1.    , 52.    , 22.6   ,  8.4   ,  6.6   ,  4.    ],
       [ 1.    , 39.5   , 13.3   ,  8.    , 16.5   , 10.    ],
       [ 1.    , 53.    , 10.7   ,  8.3   ,  1.84  , 10.    ],
       [ 1.    , 63.    , 18.    ,  7.    ,  1.65  , 10.    ],
       [ 1.    , 52.    , 15.    ,  8.    ,  1.805 ,  5.    ],
       [ 1.    , 49.    , 18.5   ,  8.5   ,  8.2   ,  5.    ],
       [ 1.    , 33.9   , 10.6   ,  6.    , 15.1   , 10.    ],
       [ 1.    , 35.7   , 12.6   ,  5.2   , 13.5   ,  4.    ],
       [ 1.    , 45.    ,  9.7   ,  6.8   , 14.15  ,  7.    ],
       [ 1.    , 44.    , 11.    , 11.    ,  4.735 , 10.    ],
       [ 1.    , 43.    , 17.3   ,  6.7   ,  3.5   ,  2.    ],
       [ 1.    , 47.    , 18.    ,  9.    ,  4.45  , 10.    ],
       [ 1.    , 42.    , 12.5   ,  6.3   , 15.2   , 10.    ],
       [ 1.    , 45.3   , 12.4   ,  6.6   , 15.3   ,  5.    ],
       [ 1.    , 53.    , 19.    ,  8.    ,  7.7   ,  3.    ],
       [ 1.    , 46.    , 20.    , 10.    ,  7.76  ,  7.    ],
       [ 1.    , 44.    , 22.    ,  8.    , 12.8   ,  7.    ],
       [ 1.    , 45.1   , 10.7   ,  6.8   , 11.8   , 15.    ],
       [ 1.    , 37.    , 13.3   ,  5.7   , 11.9   ,  5.    ],
       [ 1.    , 44.    ,  9.    ,  6.    , 13.5   , 10.    ],
       [ 1.    , 42.    , 25.5   ,  8.5   , 11.475 , 10.    ],
       [ 1.    , 44.7   ,  8.4   ,  6.2   , 13.7   ,  2.    ],
       [ 1.    , 54.5   , 17.    ,  8.5   ,  7.245 ,  7.    ],
       [ 1.    , 44.    , 19.8   , 10.    , 14.17  ,  8.    ],
       [ 1.    , 36.5   , 18.5   , 10.    , 13.9   ,  7.    ],
       [ 1.    , 46.    , 16.5   ,  9.5   ,  3.61  ,  5.    ],
       [ 1.    , 54.    , 14.    ,  9.    ,  3.65  , 15.    ],
       [ 1.    , 45.    , 23.5   , 10.5   , 15.2   ,  6.    ],
       [ 1.    , 52.4   , 12.7   ,  8.2   , 17.5   ,  5.    ],
       [ 1.    , 39.    , 14.5   ,  8.5   , 16.335 ,  7.    ],
       [ 1.    , 55.    , 11.    , 14.    ,  4.7   ,  5.    ],
       [ 1.    , 67.    , 31.    , 12.    , 12.75  , 10.    ],
       [ 1.    , 45.6   , 17.9   , 10.5   , 12.5   ,  7.    ],
       [ 1.    , 56.2   , 19.8   ,  9.    ,  0.92  , 10.    ],
       [ 1.    , 47.    ,  5.5   ,  5.5   , 10.4   , 10.    ],
       [ 1.    , 42.    , 10.    ,  6.    , 10.77  , 15.    ],
       [ 1.    , 51.    , 12.7   ,  8.5   , 10.43  , 10.    ],
       [ 1.    , 44.9   , 13.8   ,  7.    , 10.2   , 10.    ],
       [ 1.    , 42.    , 10.    ,  7.    , 12.4   ,  5.    ],
       [ 1.    , 45.    , 18.5   , 10.5   , 13.1   , 15.    ],
       [ 1.    , 43.3   , 16.9   ,  8.5   , 14.    ,  1.    ],
       [ 1.    , 39.    , 17.8   ,  9.2   , 14.895 , 10.    ],
       [ 1.    , 45.    , 13.    ,  7.    , 12.38  ,  6.    ],
       [ 1.    , 47.9   , 27.5   ,  8.5   , 12.5   , 10.    ],
       [ 1.    , 46.2   , 21.6   , 10.2   , 13.5   , 12.    ],
       [ 1.    , 42.4   ,  9.9   ,  5.5   , 13.815 ,  7.    ],
       [ 1.    , 42.    ,  8.3   ,  6.    ,  7.5   ,  7.    ],
       [ 1.    , 44.3   , 22.6   , 10.2   , 11.    , 10.    ],
       [ 1.    , 55.    , 23.8   ,  7.2   , 10.    ,  5.    ],
       [ 1.    , 39.1   ,  8.7   ,  5.6   ,  3.8   ,  7.    ],
       [ 1.    , 56.    , 17.5   ,  8.5   ,  2.75  ,  4.    ],
       [ 1.    , 50.8   , 15.4   ,  8.2   ,  2.8   ,  5.    ],
       [ 1.    , 45.    , 25.5   ,  9.5   ,  2.18  ,  5.    ],
       [ 1.    , 41.    ,  8.    ,  6.    , 11.665 , 10.    ],
       [ 1.    , 40.2   , 27.8   ,  9.    , 12.435 , 10.    ],
       [ 1.    , 44.1   ,  8.5   ,  6.    ,  8.5   ,  5.    ],
       [ 1.    , 46.3   , 10.3   ,  8.1   ,  3.7   , 10.    ],
       [ 1.    , 37.    , 13.2   ,  5.8   , 11.15  , 10.    ],
       [ 1.    , 44.5   , 19.    , 10.5   , 12.    , 15.    ],
       [ 1.    , 46.    , 20.5   , 10.5   , 11.3   ,  5.    ],
       [ 1.    , 45.    , 20.9   ,  8.5   , 16.4   ,  5.    ],
       [ 1.    , 53.5   ,  8.6   ,  6.    , 16.7   , 15.    ],
       [ 1.    , 44.    , 22.8   , 10.1   , 15.5   ,  7.    ],
       [ 1.    , 60.    , 23.5   ,  8.    ,  4.51  ,  5.    ],
       [ 1.    , 49.    , 13.    ,  8.    ,  8.87  ,  7.    ],
       [ 1.    , 49.2   , 16.3   ,  9.5   ,  1.365 ,  5.    ],
       [ 1.    , 46.6   , 10.8   ,  8.    ,  4.16  , 10.    ],
       [ 1.    , 50.    , 13.3   ,  9.5   ,  5.54  ,  5.    ],
       [ 1.    , 46.    , 19.    , 10.    , 13.5   , 10.    ],
       [ 1.    , 53.    , 18.3   ,  8.7   ,  9.9   ,  5.    ],
       [ 1.    , 56.5   , 24.5   ,  9.    ,  8.455 , 15.    ],
       [ 1.    , 66.    , 18.    , 12.    ,  4.4   ,  5.    ],
       [ 1.    , 39.    , 14.5   ,  8.5   ,  9.6   ,  7.    ],
       [ 1.    , 43.9   , 12.3   ,  7.    , 15.3   , 10.    ],
       [ 1.    , 37.7   , 19.8   ,  8.5   , 16.5   ,  7.    ],
       [ 1.    , 49.    , 13.5   ,  8.5   ,  9.145 ,  5.    ],
       [ 1.    , 58.    , 30.    , 12.    ,  9.35  ,  3.    ],
       [ 1.    , 56.    , 15.7   ,  9.5   ,  9.5   ,  7.    ],
       [ 1.    , 52.7   , 15.1   ,  8.7   ,  9.    , 10.    ],
       [ 1.    , 54.5   , 18.    ,  8.5   ,  9.    , 12.    ],
       [ 1.    , 50.4   , 16.    ,  8.5   ,  9.    , 12.    ],
       [ 1.    , 49.7   , 18.2   , 10.5   ,  8.285 ,  7.    ],
       [ 1.    , 36.7   , 12.4   ,  5.5   ,  2.425 , 10.5   ],
       [ 1.    , 36.7   , 12.4   ,  5.5   ,  3.6   ,  2.    ],
       [ 1.    , 60.    , 36.    , 14.    ,  1.95  ,  7.    ],
       [ 1.    , 60.    , 26.    , 10.    , 13.5   , 10.    ],
       [ 1.    , 40.    ,  9.    ,  6.    , 12.    , 10.    ],
       [ 1.    , 46.    , 20.5   ,  9.5   , 12.5   , 12.    ],
       [ 1.    , 38.9   , 15.3   ,  8.5   , 13.7   , 12.    ],
       [ 1.    , 45.4   , 20.1   , 10.5   , 12.5   ,  5.    ],
       [ 1.    , 39.    ,  9.2   ,  8.5   , 12.    ,  1.    ],
       [ 1.    , 38.    , 14.    ,  8.    , 14.995 ,  7.    ],
       [ 1.    , 43.1   , 10.5   ,  6.    , 15.7   , 10.    ],
       [ 1.    , 44.3   , 21.3   ,  8.    ,  6.35  , 15.    ],
       [ 1.    , 43.7   , 20.2   , 10.4   , 14.4   , 12.    ],
       [ 1.    , 40.    , 17.1   ,  9.5   , 18.6   ,  7.    ],
       [ 1.    , 59.5   , 22.5   , 10.    ,  7.5   ,  2.    ],
       [ 1.    , 58.    , 24.    , 10.    ,  7.5   ,  5.    ],
       [ 1.    , 52.    , 15.    ,  9.    , 12.5   , 10.    ],
       [ 1.    , 42.    ,  9.    ,  6.    ,  9.375 , 10.    ],
       [ 1.    , 50.    , 17.5   ,  9.5   , 10.3125,  5.    ],
       [ 1.    , 54.6   , 21.1   ,  8.9   ,  5.625 , 10.    ],
       [ 1.    , 53.    , 19.    , 11.    ,  4.6875, 10.    ],
       [ 1.    , 43.    , 19.    , 11.    , 18.125 ,  7.    ],
       [ 1.    , 58.    , 21.5   ,  8.5   , 10.    ,  5.    ],
       [ 1.    , 54.    , 17.5   ,  8.5   , 15.625 , 24.    ],
       [ 1.    , 55.    , 16.5   ,  8.5   , 21.875 , 10.    ],
       [ 1.    , 48.    , 25.    ,  9.    , 15.    , 10.    ],
       [ 1.    , 46.    , 20.8   , 10.    , 14.375 , 25.    ],
       [ 1.    , 61.    , 14.    ,  8.    ,  1.25  ,  7.    ],
       [ 1.    , 52.    , 14.    ,  9.    , 12.5   ,  5.    ],
       [ 1.    , 43.    , 14.4   ,  7.1   , 19.375 ,  5.    ],
       [ 1.    , 46.    , 27.    , 12.    ,  3.75  ,  5.    ],
       [ 1.    , 41.    , 14.    ,  9.    ,  6.875 ,  4.    ],
       [ 1.    , 56.    , 18.    , 10.    ,  8.125 ,  6.    ],
       [ 1.    , 39.    , 18.    ,  9.    , 18.75  , 10.    ],
       [ 1.    , 51.    , 20.    ,  8.    , 15.625 , 10.    ],
       [ 1.    , 50.    , 18.    , 12.    ,  5.    ,  5.    ],
       [ 1.    , 45.    , 19.5   , 10.5   , 13.125 , 10.    ]])

Столбец ROOM заполняем 1, т.к. он будет соответствовать коэф. a0.
Преобразуем таблицу в массив x.

Для нахождения вектора коэфф.-ов используем преобразование
$$a = 1/(X^TX) = X^TY $$

In [9]:
def predict_of_price(x,y):
    """
    Функия предсказывает цену на квартиры. X - матрица пар.-ов(от которых у зависит), 
    Y -  массив действительных цен на кв.
    """
    t = (x.T).dot(x)
    t = np.linalg.inv(t)
    t1 = x.T.dot(y)
    global a
    a = t.dot(t1)
    guess_y = y*0
    for i in range(0,len(x)):
        for j in range(0,len(x[i])):
            guess_y[i] += a[j]*x[i][j]
    return guess_y

In [10]:
guess_y = predict_of_price(x,y)
a

array([-6.01612593e+01,  1.95335503e+00,  1.49056700e+00,  4.92103501e+00,
       -1.48265326e+00,  3.45591740e-03])

В функции predict_price при помощи методов T(транспонирование матрицы), dot(умножение матрицы) и linalg.inv(вычисление обратной матрицы) находим вектор коэф-ов в соотвествии с предложенным преобразованием. Далее записываем в guess_y предположительные цены на квартиры, высчитывая их по уравнению множественной регресии.

In [11]:
df['PRICE'] = y
df['GUESS_PRICE'] = guess_y
df.head()

     ROOM  LIVSQ  APPEN  KITSQ    DIST  METRDIST  PRICE  GUESS_PRICE
288     1   54.0   16.5    9.5   7.895       7.0   75.0   104.982744
289     1   52.0   22.6    8.4   6.600       4.0  110.0   106.665023
290     1   39.5   13.3    8.0  16.500      10.0   63.0    51.759866
291     1   53.0   10.7    8.3   1.840      10.0  101.0    97.466692
292     1   63.0   18.0    7.0   1.650      10.0  142.0   121.765740

In [12]:
pogr = (abs(df.PRICE - df.GUESS_PRICE)).mean()
pogr

16.900338328998544

Добавим в нашу таблицу столбцы с реальными и предположительными ценами. Заметим, что данные отличаются. Вычислим среднюю погрешность. Она равна 23,3 тыс.долларов.

Теперь решим эту же задачу уже используя эластичность.
$$Y = a_0X_1^{a_1}...X_n^{a_n}$$
Прологарифмируем обе части этого выражения для применения известных нам преобразований.
$$lnY = lna_0 + a_1lnX_1 + ... + a_nlnX_n$$

In [13]:
def predict_ln_price(x,y):
    """
    Функия предсказывает цену на квартиры с помощью эластичности. X - матрица пар.-ов(от которых у зависит), 
    Y -  массив действительных цен на кв.
    """
    lny = np.log(y)
    lnx = np.log(x)
    for i in range(0,len(lnx)):
        lnx[i][0] += 1
    t = (lnx.T).dot(lnx)
    t = np.linalg.inv(t)
    t1 = lnx.T.dot(lny)
    global lna
    lna = t.dot(t1)
    guess_lny=y/y*np.exp(lna[0])
    for i in range(0,len(x)):
        for j in range(1,len(x[i])):
            guess_lny[i] *= np.power(x[i][j],lna[j])
    return guess_lny
guess_lny = predict_ln_price(x,y)

В начале созда1м переменные lny и lnx для хранения логарифмов массива y и матрицы x соответственно. Первый столбец матрицы x получится нулевым, для дальнейших вычислений приравняем его единице. Совершаем преобразование и находим вектор коэф.-ов lna. Теперь воспользуемся формулой эластичности, но перед этим в переменную guss_lny записываем единичный вектор и умножаем его на $e^{lna_0}$, т.е. $a_0$. Далее с помощью метода .power возваодим x в соответствующую степень a, в итоге получеам вектор предпологаемых цен.

In [14]:
df['GUESS_LN_PRICE'] = guess_lny
df.head()

,ROOM,LIVSQ,APPEN,KITSQ,DIST,METRDIST,PRICE,GUESS_PRICE,GUESS_LN_PRICE
288,1,54.0,16.5,9.5,7.895,7.0,75.0,104.982744,96.556697
289,1,52.0,22.6,8.4,6.600,4.0,110.0,106.665023,98.122281
290,1,39.5,13.3,8.0,16.500,10.0,63.0,51.759866,57.307184
291,1,53.0,10.7,8.3,1.840,10.0,101.0,97.466692,97.720458
292,1,63.0,18.0,7.0,1.650,10.0,142.0,121.765740,124.580737

In [15]:
lnpogr = (abs(df.PRICE - df.GUESS_LN_PRICE)).mean()
lnpogr

16.069380159564904

In [16]:
pogr-lnpogr

0.8309581694336394